@model SalvorView

<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Name)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Name)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Email)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Email)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.TelephoneNumber)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.TelephoneNumber)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Created)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Created)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.LastModified)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.LastModified)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-2">
        @Html.LabelFor(m => m.LastModifiedBy, new { @class = "font-weight-bold" })
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.LastModifiedBy)
    </div>
</div>
<div class="form-group row m-1">
    <h5> Address </h5>
    <partial name="Address/_AddressViewFields" for="Address"/>
</div>