@model SalvorView

<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Name)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Name)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Email)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Email)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.TelephoneNumber)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.TelephoneNumber)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.DateOfBirth)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.DateOfBirth)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Created)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Created)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-2">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.LastModified)</label>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.LastModified)
    </div>
</div>

<partial name="Address/_AddressViewFields" for="Address"/>