@model SalvorSearchForm

<form class="form-horizontal" asp-action="Search" enctype="multipart/form-data" method="POST">

    <div class="d-none">
        @Html.EditorFor(s => s.PageNumber, new { htmlAttributes = new { @class = "js-page-number-field"} })
    </div>
    
    <div class="form-floating mb-3">
        @Html.EditorFor(s => s.Name, new { htmlAttributes = new { @class = "form-control", @placeholder=""} })    
        @Html.LabelFor(s => s.Name)
    </div>
    
    <div class="form-floating mb-3">
        @Html.EditorFor(s => s.Email, new { htmlAttributes = new { @class = "form-control", @placeholder=""} })    
        @Html.LabelFor(s => s.Email)
    </div>

    <div class="col d-flex flex-row mt-4">
        <div class="col">
            <button class="btn btn-primary" name="SubmitAction" value="Search" type="submit">Search</button>
            <button class="btn btn-primary" name="SubmitAction" value="Export" type="submit">Export</button> 
        </div>
        <div class="col ms-auto">
            <div class="float-end">
                <a class="btn btn-primary" asp-action="Index">Reset</a>
                <button class="btn btn-primary js-toggle-salvor-search" type="button">Close</button>
            </div>
        </div>
    </div>

</form>
