@model List<SalvorView>

@{
    ViewData["Title"] = "Salvors";
}

@{
    await Html.RenderPartialAsync("_MessageBanner");
}

<div class="row">
    <div class="col">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="col">
        <a class="btn btn-primary float-end" asp-action="Add">Add Salvor</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var salvor in Model)
        {
            <tr>
                <td class="p-3 text-uppercase">
                    <a asp-action="View" asp-route-id="@salvor.Id">@salvor.Name</a>
                </td>
                <td class="p-3">@salvor.DateOfBirth.ToString("dd/MM/yyyy")</td>
                <td class="p-3">@salvor.Email</td>
                <td class="p-3">
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@salvor.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="View" asp-route-id="@salvor.Id" class="btn btn-primary">View</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col">
        <a class="btn btn-primary float-end" asp-action="Add">Add Salvor</a>
    </div>
</div>