@model EmailForm
@{
    ViewData["Title"] = "Send Email";
}

<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h4 class="govuk-heading-m">@ViewData["Title"]</h4>
    </legend>
    <form asp-action="SendEmail" method="POST">


        <div class="govuk-form-group">
            @Html.LabelFor(m => m.EmailAddress, new {@class="govuk-label"})
            @Html.EditorFor(m => m.EmailAddress,  new { htmlAttributes = new {@class="govuk-input govuk-!-width-full"}})
        </div>



        <div class="govuk-form-group">
            @Html.LabelFor(m => m.Subject, new {@class="govuk-label"})
            @Html.EditorFor(m => m.Subject,  new { htmlAttributes = new {@class="govuk-input govuk-!-width-full"}})
        </div>

        <div class="govuk-form-group">
            @Html.LabelFor(m => m.Body, new {@class="govuk-label"})
            @Html.EditorFor(m => m.Body,  new { htmlAttributes = new {@rows = 50 ,@class="govuk-input govuk-!-width-full email-body"}})
        </div>


        <govuk-button type="submit">Send</govuk-button>
    </form>
</fieldset>
