@model EmailForm

@{
    ViewData["Title"] = "Preview Email";
    string Body = Model.GetEmailBody();
}
<h4 class="display-8">@ViewData["Title"]</h4>

<form asp-action="SendEmail" method="POST" >
<table class="table">
    <tbody>
    <tr>
        <th scope="row">From</th>
        <td>Report Wreck Material</td>
    </tr>
    <tr>
        <th scope="row">Reply to</th>
        <td>row@mcga.gov.uk</td>
    </tr>
    <tr>
        <th scope="row">To</th>
        @* browser will only POST from elements that have a 'name' attribute *@
        <td>
            @Html.EditorFor(m => m.EmailAddress, 
                new { htmlAttributes = new { @class = "readonly-input", @readonly = "readonly" } })
        </td>
    </tr>
    
    <tr>
        <th scope="row">Subject</th>
        <td>
            @Html.EditorFor(m => m.Subject, 
                            new { htmlAttributes = new { @class = "readonly-input", @readonly = "readonly" } })
            @Html.EditorFor(m => Body, 
                                        new { htmlAttributes = new { @class = "hidden" } })

        </td>
    </tr>
    <tr>
        <td colspan="2">
            @{
                Html.RenderPartial("_GovNotifyText", Body);
            }
            
        </td>
    </tr>
    </tbody>
</table>

<a asp-action="Edit" asp-route-id="@Model.EmailId" class="btn btn-success">Edit</a>
<button class="btn btn-success" type="submit">Send</button>
</form>