@model DroitExportForm

<div class="row">
<div class="col-md-4">
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.Id, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.Id, new { @class = "form-check-input font-weight-bold" })
    </div>
</div>
        
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.Reference, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.Reference, new { @class = "form-check-input font-weight-bold" })
    </div>

</div>
        
        
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.Created, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.Created, new { @class = "form-check-input font-weight-bold", @checked = "checked"})
    </div>
</div>
        
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.LastModified, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.LastModified, new { @class = "form-check-input font-weight-bold", @checked=true })
    </div>
</div>
            
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.WreckName, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.WreckName, new { @class = "form-check-input font-weight-bold" } )
    </div>
</div>

        
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.SalvorName, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.SalvorName, new { @class = "form-check-input font-weight-bold" })
    </div>

</div>
        
        
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.AssignedTo, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.AssignedTo, new { @class = "form-check-input font-weight-bold", @checked = "checked"})
    </div>
</div>
        
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.Status, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.Status, new { @class = "form-check-input font-weight-bold", @checked=true })
    </div>
</div>
            
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.TriageNumber, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.TriageNumber, new { @class = "form-check-input font-weight-bold" } )
    </div>
</div>
        
        
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.ReportedDate, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.ReportedDate, new { @class = "form-check-input font-weight-bold" })
    </div>

</div>
        
        
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.DateFound, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.DateFound, new { @class = "form-check-input font-weight-bold", @checked = "checked"})
    </div>
</div>
        
        
            
<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.IsHazardousFind, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.IsHazardousFind, new { @class = "form-check-input font-weight-bold" } )
    </div>
</div>

<div class="form-group row">
    <div class="col-md-8">
        @Html.LabelFor(m => m.IsDredge, new { @class = "col-form-label" })
    </div>
    <div class="col-md-4 form-switch">
        @Html.CheckBoxFor(m => m.IsDredge, new { @class = "form-check-input font-weight-bold", @checked=true })
    </div>
</div>

</div>
    
<div class="col-md-4">
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.ReportedWreckName, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.ReportedWreckName, new { @class = "form-check-input font-weight-bold" })
        </div>

    </div>
        
        
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.ReportedWreckYearSunk, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.ReportedWreckYearSunk, new { @class = "form-check-input font-weight-bold", @checked = "checked"})
        </div>
    </div>
        
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.ReportedWreckYearConstructed, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.ReportedWreckYearConstructed, new { @class = "form-check-input font-weight-bold", @checked=true })
        </div>
    </div>
            
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.ReportedWreckConstructionDetails, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.ReportedWreckConstructionDetails, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
        
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.Latitude, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.Latitude, new { @class = "form-check-input font-weight-bold" })
        </div>

    </div>
        
        
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.Longitude, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.Longitude, new { @class = "form-check-input font-weight-bold", @checked = "checked"})
        </div>
    </div>
        
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.InUkWaters, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.InUkWaters, new { @class = "form-check-input font-weight-bold", @checked=true })
        </div>
    </div>
            
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.LocationRadius, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.LocationRadius, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
        
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.Depth, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.Depth, new { @class = "form-check-input font-weight-bold" })
        </div>

    </div>
        
        
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.RecoveredFrom, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.RecoveredFrom, new { @class = "form-check-input font-weight-bold", @checked = "checked"})
        </div>
    </div>
        
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.LocationDescription, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.LocationDescription, new { @class = "form-check-input font-weight-bold", @checked=true })
        </div>
    </div>
            
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.SalvageAwardClaimed, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.SalvageAwardClaimed, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
        
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.ServicesDescription, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.ServicesDescription, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>

</div>
<div class="col-md-4">
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.ServicesDuration, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.ServicesDuration, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
    
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.ServicesEstimatedCost, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.ServicesEstimatedCost, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.MmoLicenceRequired, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.MmoLicenceRequired, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
    
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.MmoLicenceProvided, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.MmoLicenceProvided, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
    
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.SalvageClaimAwarded, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.SalvageClaimAwarded, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.District, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.District, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
    
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.ImportedFromLegacy, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.ImportedFromLegacy, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.GoodsDischargedBy, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.GoodsDischargedBy, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
    
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.DateDelivered, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.DateDelivered, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>

    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.Agent, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.Agent, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
    
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.RecoveredFromLegacy, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.RecoveredFromLegacy, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.LegacyRemarks, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.LegacyRemarks, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.ImportedFromLegacy, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.ImportedFromLegacy, new { @class = "form-check-input font-weight-bold" } )
        </div>
    </div>

</div>

</div>

