@model LetterExportForm

<div class="row">

    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.Recipient, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.Recipient, new { @class = "form-check-input font-weight-bold" })
        </div>

    </div>
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.DroitReference, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.DroitReference, new { @class = "form-check-input font-weight-bold" })
        </div>

    </div>
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.QualityApprovedUser, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.QualityApprovedUser, new { @class = "form-check-input font-weight-bold" })
        </div>

    </div>
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.Status, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.Status, new { @class = "form-check-input font-weight-bold" })
        </div>

    </div>
    
    <div class="form-group row">
        <div class="col-md-8">
            @Html.LabelFor(m => m.Type, new { @class = "col-form-label" })
        </div>
        <div class="col-md-4 form-switch">
            @Html.CheckBoxFor(m => m.Type, new { @class = "form-check-input font-weight-bold" })
        </div>

    </div>

</div>

