@model List<WreckView>
@{
    ViewData["Title"] = "Wrecks";
}

<<<<<<< HEAD
<h4>@ViewData["Title"]</h4>
=======
@{
    await Html.RenderPartialAsync("_MessageBanner");
}

<h4 class="display-8">@ViewData["Title"]</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Created</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var wreck in Model)
    {
        <tr>
            <th scope="row">
                <a asp-action="View" asp-route-id="@wreck.Id">@wreck.Name</a>
            </th>
            <td>@wreck.Status</td>
            <td>@wreck.Created.ToString("dd/MM/yyyy")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@wreck.Id" class="btn btn-success">Edit</a>
                <a asp-action="View" asp-route-id="@wreck.Id" class="btn btn-success">View</a>
            </td>
        </tr>
    }
    </tbody>
</table>
>>>>>>> 227839a (Add error message banners to Wreck views)

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wreck in Model)
                {
                    <tr>
                        <td class="p-3 text-uppercase">
                            <a asp-action="View" asp-route-id="@wreck.Id">@wreck.Name</a>
                        </td>
                        <td class="p-3">@wreck.Status</td>
                        <td class="p-3">@wreck.Created.ToString("dd/MM/yyyy")</td>
                        <td class="p-3">
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@wreck.Id" class="btn btn-primary">Edit</a>
                                <a asp-action="View" asp-route-id="@wreck.Id" class="btn btn-primary">View</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="btn btn-primary float-end" asp-action="Add">Add Wreck</a>
    </div>
</div>
