@model WreckView
@{
    ViewData["Title"] = Model.Name==""?"Wreck View":Model.Name;
}

<div class="card">
    <div class="card-header">
        <h2 class="card-title">@ViewData["Title"]</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Id)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Id)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Status)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Status)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Name)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Name)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Created)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Created)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.LastModified)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.LastModified)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.DateOfLoss)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.DateOfLoss)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.IsWarWreck)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.IsWarWreck)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.IsAnAircraft)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.IsAnAircraft)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Latitude)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Latitude)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Longitude)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Longitude)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.IsProtectedSite)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.IsProtectedSite)
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col-md-2">
                        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.ProtectionLegislation)</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.ProtectionLegislation)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if ( Model.Latitude.HasValue() && Model.Longitude.HasValue())
{
    <div class="row mt-3">
        <iframe src="https://maps.google.com/maps?q=@Model.Latitude,@Model.Longitude&amp;output=embed"></iframe>
    </div>
}


<a class="btn btn-primary mt-2 float-end" asp-action="Index">View Wrecks</a>
