@using System.Net
@model DroitForm

@{
    Model.ReportedWreckConstructionDetails = WebUtility.HtmlDecode(Model.ReportedWreckConstructionDetails);
    Model.LocationDescription = WebUtility.HtmlDecode(Model.LocationDescription);
    string GetValueOrDefault(string? value) => string.IsNullOrEmpty(value) ? "---" : WebUtility.HtmlDecode(value);
}
<h5>Reported Wreck</h5>

<div class="form-group row m-1">
    <div class="col-md-5">
        @Html.LabelFor(m => m.ReportedWreckName, new { @class = "col-form-label font-weight-bold" })
    </div>
    <div class="col-md-12">
        @Html.EditorFor(m => m.ReportedWreckName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.ReportedWreckName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-5">
        @Html.LabelFor(m => m.ReportedWreckYearConstructed, new { @class = "col-form-label font-weight-bold" })
    </div>
    <div class="col-md-12">
        @Html.EditorFor(m => m.ReportedWreckYearConstructed, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.ReportedWreckYearConstructed, "", new { @class = "text-danger" })
    </div>
</div>                    

<div class="form-group row m-1">
    <div class="col-md-5">
        @Html.LabelFor(m => m.ReportedWreckConstructionDetails, new { @class = "col-form-label font-weight-bold" })
    </div>
    <div class="col-md-12">
        @Html.EditorFor(m => m.ReportedWreckConstructionDetails, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.ReportedWreckConstructionDetails, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-5">
        @Html.LabelFor(m => m.ReportedWreckYearSunk, new { @class = "col-form-label font-weight-bold" })
    </div>
    <div class="col-md-12">
        @Html.EditorFor(m => m.ReportedWreckYearSunk, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.ReportedWreckYearSunk, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group row m-1 mt-3">
    <div class="col-md-5">
        <label class="font-weight-bold">Location Description</label>
    </div>
    <div class="col-md-7">
         @GetValueOrDefault(@Model.LocationDescription)
    </div>
</div>

<h5 class="mt-3">Location</h5>

    <div class="form-group row m-1">
        <div class="col-md-5">
            <label class="font-weight-bold">Latitude</label>
        </div>
        <div class="col-md-7">
            @GetValueOrDefault(@Model.Latitude.ToString())
        </div>
    </div>

<div class="form-group row m-1">
    <div class="col-md-5">
        <label class="font-weight-bold">Longitude</label>
    </div>
    <div class="col-md-7">
        @GetValueOrDefault(@Model.Longitude.ToString())
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-5">
        <label class="font-weight-bold">Radius</label>
    </div>
    <div class="col-md-7">
        @GetValueOrDefault(@Model.LocationRadius?.ToString())
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-5">
        <label class="font-weight-bold">Depth</label>
    </div>
    <div class="col-md-7">
        @GetValueOrDefault(@Model.Depth?.ToString())
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-5">
        <label class="font-weight-bold">Removed From</label>
    </div>
    <div class="col-md-7">
        @GetValueOrDefault(@Model.RecoveredFrom?.GetDisplayName())
    </div>
</div>