@model WreckForm

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.VesselConstructionDetails, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.VesselConstructionDetails, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.VesselConstructionDetails, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.VesselYearConstructed, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.VesselYearConstructed, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.VesselYearConstructed, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DateOfLoss, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.DateOfLoss, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.DateOfLoss, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.InUkWaters, new { @class = "col-form-label" })
    @Html.DropDownListFor(m => m.InUkWaters, FormModelHelper.BooleanSelectList, "Select.....", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.InUkWaters, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    @Html.LabelFor(m => m.IsWarWreck, new { @class = "col-form-label" })
    @Html.DropDownListFor(m => m.IsWarWreck, FormModelHelper.BooleanSelectList, "Select.....", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IsWarWreck, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    @Html.LabelFor(m => m.IsAnAircraft, new { @class = "col-form-label" })
    @Html.DropDownListFor(m => m.IsAnAircraft, FormModelHelper.BooleanSelectList, "Select.....", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IsAnAircraft, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Latitude, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.Latitude, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Longitude, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.Longitude, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.IsProtectedSite, new { @class = "col-form-label" })
    @Html.DropDownListFor(m => m.IsProtectedSite, FormModelHelper.BooleanSelectList, "Select.....", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IsProtectedSite, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ProtectionLegislation, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.ProtectionLegislation, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.ProtectionLegislation, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.OwnerName, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.OwnerName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.OwnerName, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.OwnerEmail, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.OwnerEmail, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.OwnerEmail, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.OwnerNumber, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.OwnerNumber, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.OwnerNumber, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.AdditionalInformation, new { @class = "col-form-label" })
    @Html.EditorFor(m => m.AdditionalInformation, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.AdditionalInformation, "", new { @class = "text-danger" })
</div>