@using System.Net
@model WreckView

@{
    Model.ConstructionDetails = WebUtility.HtmlDecode(Model.ConstructionDetails);
}

<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Name)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Name)
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.WreckType)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.WreckType)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Created)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Created)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.LastModified)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.LastModified)
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-3">
        @Html.LabelFor(m => m.LastModifiedBy, new { @class = "font-weight-bold" })
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.LastModifiedBy)
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.ConstructionDetails)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.ConstructionDetails)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.YearConstructed)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.YearConstructed)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.DateOfLoss)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.DateOfLoss)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.InUkWaters)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.InUkWaters)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.IsWarWreck)</label>
    </div>
    <div class="col-md-7"> 
        @Html.DisplayFor(m => m.IsWarWreck)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.IsAnAircraft)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.IsAnAircraft)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Latitude)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Latitude)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Longitude)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Longitude)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.IsProtectedSite)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.IsProtectedSite)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.ProtectionLegislation)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.ProtectionLegislation)
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.AdditionalInformation)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.AdditionalInformation, "MultilineText")
    </div>
</div>

<h5 class="mt-4 mx-1">Owner Details</h5>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.OwnerName)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.OwnerName)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.OwnerEmail)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.OwnerEmail)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.OwnerNumber)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.OwnerNumber)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.OwnerAddress)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.OwnerAddress)
    </div>
</div>