@model WreckView

<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Id)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Id)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Name)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Name)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Created)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Created)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.LastModified)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.LastModified)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.VesselConstructionDetails)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.VesselConstructionDetails)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.VesselYearConstructed)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.VesselYearConstructed)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.DateOfLoss)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.DateOfLoss)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.InUkWaters)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.InUkWaters)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.IsWarWreck)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.IsWarWreck)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.IsAnAircraft)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.IsAnAircraft)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Latitude)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Latitude)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Longitude)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Longitude)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.IsProtectedSite)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.IsProtectedSite)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.ProtectionLegislation)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.ProtectionLegislation)
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.AdditionalInformation)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.AdditionalInformation, "MultilineText")
    </div>
</div>
