@model WreckMaterialView

<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Id)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Id)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.DroitId)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.DroitId)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Name)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Name)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Description)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Description)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Quantity)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Quantity)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Value)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Value)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.ReceiverValuation)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.ReceiverValuation)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.ValueConfirmed)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.ValueConfirmed)
    </div>
</div>

<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.WreckMaterialOwner)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.WreckMaterialOwner)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Purchaser)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Purchaser)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Outcome)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Outcome)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.WhereSecured)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.WhereSecured)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.ImportedFromLegacy)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.ImportedFromLegacy)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.Created)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.Created)
    </div>
</div>
<div class="form-group row m-1">
    <div class="col-md-3">
        <label class="font-weight-bold">@Html.DisplayNameFor(m => m.LastModified)</label>
    </div>
    <div class="col-md-7">
        @Html.DisplayFor(m => m.LastModified)
    </div>
</div>
