@model WreckMaterialView

<div class="col mb-2">
    <div class="card">
        <h5 class="card-header">Wreck Material</h5>
        <div class="card-body">

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Name, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Name)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Description, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Description)
                </div>
            </div>


            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Quantity, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Quantity)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.SalvorValuation, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.SalvorValuation)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.ReceiverValuation, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.ReceiverValuation)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.ValueConfirmed, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.ValueConfirmed)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.WreckMaterialOwner, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.WreckMaterialOwner)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.WreckMaterialOwnerContactDetails, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.WreckMaterialOwnerContactDetails, "MultilineText")
                </div>
            </div>

            
            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Purchaser, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Purchaser)
                </div>
            </div>
            
            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.PurchaserContactDetails, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.PurchaserContactDetails, "MultilineText")
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Outcome, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Outcome)
                </div>
            </div>
            
            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.OutcomeRemarks, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.OutcomeRemarks, "MultilineText")
                </div>
            </div>

            <div class="form-group row mt-2">

                <h5>Storage Address</h5>
                <partial name="Address/_AddressViewFields" for="StorageAddress"/>
            </div>

            @if (@Model.Images.Any())
            {
                <div class="form-group row mt-2">
                    <h5>Images</h5>
                    @for (var i = 0; i < Model.Images.Count; i++)
                    {
                        <partial name="Image/_ImageViewFields" for="Images[i]"/>
                    }
                </div>
            }
            
            @if (@Model.Files.Any())
            {
                <div class="form-group row mt-2">
                    <h5>Files</h5>
                    @for (var i = 0; i < Model.Files.Count; i++)
                    {
                        <partial name="DroitFile/_DroitFileViewFields" for="Files[i]"/>
                    }
                </div>
            }


        </div>
    </div>
</div>