@model WreckMaterialView

<div class="col-md-6 mb-2">
    <div class="card">
        <h5 class="card-header">Wreck Material</h5>
        <div class="card-body">
            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Id, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Id)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.DroitId, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.DroitId)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Name, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Name)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Description, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Description)
                </div>
            </div>


            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Quantity, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Quantity)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Value, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Value)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.ReceiverValuation, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.ReceiverValuation)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.ValueConfirmed, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.ValueConfirmed)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.WreckMaterialOwner, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.WreckMaterialOwner, "MultilineText")
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Purchaser, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Purchaser)
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Outcome, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.Outcome, "MultilineText")
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.WhereSecured, new { @class = "font-weight-bold" })
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.WhereSecured, "MultilineText")
                </div>
            </div>
            
            <div class="form-group row mt-2">
                <h5>Storage Address</h5>
                <partial name="Address/_AddressViewFields" for="StorageAddress"/>
            </div>

        </div>
    </div>
</div>