@model List<LetterView>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Recipient</th>
            <th scope="col">Subject</th>
            <th scope="col">Type</th>
            <th scope="col">Last Modified</th>
            <th scope="col">Is Sent?</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var letter in Model)
        {
            <tr>
                <td class="p-3 text-uppercase">
                    @letter.Recipient
                </td>
                <td class="p-3">@letter.Subject</td>
                <td class="p-3">@letter.LetterType</td>
                <td class="p-3">@letter.DateLastModified.ToString("dd/MM/yyyy")</td>
                <td class="p-3">@Html.DisplayFor(m => letter.IsSent)</td>
                <td class="p-3">
                    <div class="btn-group">
                        <a asp-controller="Letter" asp-action="Edit" asp-route-id="@letter.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Letter" asp-action="Preview" asp-route-id="@letter.Id" class="btn btn-primary">View</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>