@model NoteListView

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Last Modified</th>
            <th scope="col">Author</th>
            @if (Model.Editable)
            {
                <th scope="col">Actions</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (NoteView note in Model.Notes)
        {
            <tr>
                <td class="p-3">
                    @Html.DisplayFor(m => note.Title)
                </td>
                <td class="p-3">@Html.DisplayFor(m => note.Type)</td>
                <td class="p-3">@note.LastModified.ToString("dd/MM/yyyy")</td>
                <td class="p-3">@Html.DisplayFor(m => note.LastModifiedBy)</td>
                <td class="p-3">
                    <div class="btn-group">
                        <a asp-controller="Note" asp-action="View" asp-route-id="@note.Id" asp-route-objectReference="@Model.ObjectReference" class="btn btn-primary">View</a> 
                        @if (Model.Editable)
                        {
                            <a asp-controller="Note" asp-action="Edit" asp-route-id="@note.Id" asp-route-objectReference="@Model.ObjectReference" class="btn btn-primary">Edit</a>
                        }
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
