@model SalvorForm

<div class="form-group">
    @Html.LabelFor(m => m._Address.Line1, new { @class = "col-form-label" })
    @Html.EditorFor(m => m._Address.Line1, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m._Address.Line1,"", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m._Address.Line2, new { @class = "col-form-label" })
    @Html.EditorFor(m => m._Address.Line2,new { htmlAttributes = new { @class = "form-control" }})
    @Html.ValidationMessageFor(m => m._Address.Line2,"", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m._Address.Town, new { @class = "col-form-label" })
    @Html.EditorFor(m => m._Address.Town, new { htmlAttributes = new { @class = "form-control" }})
    @Html.ValidationMessageFor(m => m._Address.Town,"", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m._Address.County, new { @class = "col-form-label" })
    @Html.EditorFor(m => m._Address.County, new { htmlAttributes = new { @class = "form-control" }})
    @Html.ValidationMessageFor(m => m._Address.County,"", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m._Address.Postcode, new { @class = "col-form-label" })
    @Html.EditorFor(m => m._Address.Postcode,new { htmlAttributes = new { @class = "form-control" }})
    @Html.ValidationMessageFor(m => m._Address.Postcode,"", new { @class = "text-danger" })
</div>
