@model List<DroitView>
@{
    ViewData["Title"] = "Droit Reports";
}

<h4 class="display-8">@ViewData["Title"]</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Reference</th>
        <th scope="col">Status</th>
        <th scope="col">Created</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var droit in Model)
    {
        <tr>
            <th scope="row">
                <a asp-action="View" asp-route-id="@droit.Id">@droit.Reference</a>
            </th>
            <td>@droit.Status</td>
            <td>@droit.Created.ToString("dd/MM/yyyy")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@droit.Id" class="btn btn-success">Edit</a>
                <a asp-action="View" asp-route-id="@droit.Id" class="btn btn-success">View</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<a class="btn btn-success float-end" asp-action="Add">Add Droit</a>
