@model List<Droits.Models.DTOs.DroitDto>


<table id="droits-search-table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Reference</th>
            <th>Created</th>
            <th>Last Modified</th>
            <th>Status</th>
            <th>Assigned To</th>
            <th>Wreck Name</th>
            <th>Salvor Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var droit in Model)
        {
            <tr>
                <td class="p-3 text-uppercase">
                    <a asp-controller="Droit" asp-action="View" asp-route-id="@droit.Id">@droit.Reference</a>
                </td>
                <td>@droit.Created</td>
                <td>@droit.LastModified</td>
                <td>@droit.Status</td>
                <td>@droit.AssignedTo</td>

                <td>
                @if (@droit.WreckId.HasValue())
                {
                    <a asp-controller="Wreck" asp-action="View" asp-route-id="@droit.WreckId">@droit.WreckName</a>
                }
                else
                {
                    @droit.WreckName
                }
                </td>
                <td>
                @if (@droit.SalvorId.HasValue())
                {
                    <a asp-controller="Salvor" asp-action="View" asp-route-id="@droit.SalvorId">@droit.SalvorName</a>
                }
                else
                {
                    @droit.SalvorName
                }
                </td>
                
            </tr>
        }
    </tbody>
</table>
 